@import 'setting.scss';
$card-border-radius: 8px;
li.task-item{
    background-color: white;
    padding: $gap;
    &:not(last-child){
      margin-bottom: $gap;
    }
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    img{
      width: calc(100% + 2*#{$gap});
      margin: -$gap 0 $gap (-$gap);
      display: block;
      border-bottom-left-radius: $card-border-radius;
      border-bottom-right-radius: $card-border-radius;
    }
  }