@import 'setting.scss';

$board-bg-color: #ffbdbd;
$list-bg-color: #ebecf0;
$common-element-bg: #dfe1e6;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 8px;



body{
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-clone-web{
  background-color: $board-bg-color;
  display: grid;
  grid-template-rows: 44px 48px 1fr;
  height: 100vh;
}