@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400');
$gap: 10px;
$common-element-bg: #dfe1e6;
// screen
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';